
.card {
    padding: 10px;
    background:#eeFAFA;
    margin-bottom: 10px;
    position: center;
    border-bottom-color: #F5F5DC;
    border-bottom-width: 5px;
    border-bottom-style: groove;
    
    
    
}